.but-co{
    background-color: #6b8beb;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.26);
    font-size: 14px;
    color: rgb(255, 255, 255);
    
  }

  .but-co:hover{
    background-color: #fd6161;
    color: rgb(255, 255, 255);
 }