.card {
    border-radius: $border-radius-extreme;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: white;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;    
    border: none;
    background-color: #2f5be0;
    text-align: center;

    
      

       label{ 
        background-color: #6b8beb;
        color: aliceblue;
       }

       .date{
        font-weight: 200;
       }
       

       .card-user{
           
        .datapro{
            .headname{
                text-align:left;
                font-size: 13px;
                color: #8da7f3;
            }
            .dataname{
                text-align:left;
                font-weight: $font-weight-bold;
                font-size: 19px;
                color: #eeeeee;
              }

        } 
         

       }

}


  




  