.exprint {
    display: inline-block;
    margin-bottom: 5;

    .btn {
        background-color: #2f5be0;
        font-size: 15;
        margin: 2;

        i {
            margin-right: 1;
        }
    }

    .but-co:hover {
        background-color: #fd6161;
    }
    @media print {
        display:none; 
    }

}

    
.invoice-title {
    text-align: right;
    @media print {
        display:none; 
    }
    
}

.invoice-title h2,
.invoice-title h3 {
    display: inline-block;
    @media print {
        display:none;
    }
}
 hr{
    @media print {
        display:none;
    }
 }



.invoice {
   
    min-height: 680px;
    background-color: white;
    position: relative;
    @media print {
   
        min-height: 100%;
        width:100%;
        position: none;
        margin-left: 0;
    }
  
    .invoice-data {
        padding: 60;
        @media print {
           
       
            width:100%;
          
    
        }
        

    
        .logo-invoice {

            margin-bottom: 10;
           

            img {
                max-width: 70px;
            }
        }

        .company {
            font-size: 1rem;
            font-weight: 800;
        }

        .company-address {}

        .invoice-number {
            text-align: right;
        }


        .bill {
            margin-top: 2rem;

            .bill-name {
                font-weight: 800;
                margin-bottom: 0.5rem;
            }

            .bill-data {}

            .data-invoice {
                margin-top: 1rem;
                text-align: right;
            }

        }

        .table-invoice {
            margin-top: 1rem;

        }

        .total-invoice {

            .data-total {
                font-weight: 400;
            }

            .data-sub {
                font-weight: 400;
            }

            .sum-total {
                margin-top: 0.5rem;
                font-size: 16;

                .sum-total-head {
                    font-weight: 800;

                }
            }


        }




    }



}
