.exprint {
    display: inline-block;
    margin-bottom: 5;

    .btn {
        background-color: #2f5be0;
        font-size: 15;
        margin: 2;

        i {
            margin-right: 1;
        }
    }

    .but-co:hover {
        background-color: #fd6161;
    }

    @media print {
        display: none;
    }

}


.invoice-title {
    text-align: right;

    @media print {
        display: none;
    }

}

.invoice-title h2,
.invoice-title h3 {
    display: inline-block;

    @media print {
        display: none;
    }
}

hr {
    @media print {
        display: none;
    }
}



.invoice {

    min-height: 680px;
    background-color: white;
    position: relative;

    @media print {

        min-height: 680px;
        width: 1200px;
        margin-left: 0;
    }

    .invoice-data {
        padding: 60;
        .headin{
           color: rgb(76, 76, 76);
           font-size: 20px;
        }

        @media print {}

        .comnum {
            .brandInv {
                .logo-invoice {
                    margin-bottom: 10;

                    img {
                        max-width: 70px;
                    }
                }

                .company {
                    font-size: 1rem;

                }

                .company-address {}

                @media print {}
            }

            .invoice-number {
                text-align: right;

                @media print {
                    margin-right: 110px;
                }

            }

        }

        .bill {
            margin-top: 2rem;

            .bill-name {
                font-weight: 800;
                margin-bottom: 0.5rem;
            }

            .bill-data {
                select {
                    @media print {
                        display: none;
                    }
                }
            }

            .data-invoice {
                margin-left: 12%;

                .datefix {}

                input {}

                span {
                    padding-left: 10px;
                }

                .duedate {}

                .date_p {
                    input {
                        @media print {
                            border: none;
                        }
                    }
                }

                input {
                    @media print {
                        border: none;
                    }
                }

            }

        }

        .table-invoice {
            margin-top: 1rem;
            table{
                tr{
              
                @media print {
                    background-color: rgb(67, 67, 67);
                    color: rgb(27, 27, 27);
                }
            }
            }
            

        }

        .total-invoice {

            .data-total {
                font-weight: 400;
            }

            .data-sub {
                font-weight: 400;
            }

            .sum-total {
                margin-top: 0.5rem;
                font-size: 16;

                .sum-total-head {
                    font-weight: 800;

                }
            }


        }

        button{
            @media print{
                display: none;
            }
        }
    }
  
   


}
