
$none: 0  ;
$default-color: rgb(58, 58, 57)  ;
$default-stats-color: #21307c  ;

$white-color: rgb(255, 255, 255)  ;

//sidebar
$sidebar-width: calc(100% - 260px)  ;
$font-color: #e6eaff  ;
$bg-side: #2c46c4  ;

// 
$border-radius-extreme: 6px  ;

//navbar
$navbar-color:#aeb9f7 ;
$navbar-padding-a:    10px 15px ; 

//component
$padding-small-vertical: 2px  ;

$padding-zero:   0px ;

$medium-gray: #e6e6e6  ;

$font-size-large:  28px  ;


$bg-color: #EEF4FF  ;

$icon-color:white  ;

$table-line-color: #4b74f0  ;

$font-weight-light: 300  ;
$font-weight-normal: 400  ;
$font-weight-semi: 500  ;
$font-weight-bold: 750  ;


$font-size-xs: 12px  ;
$font-size-small: 12px  ;
$font-size-medium: 16px ;


//variables used in cards
$card-black-color: #252422  ;
$card-muted-color: #d7deff ;

$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

